<div class="Titre-Text">
    <h1>Les échanges disponibles </h1>
</div>

<ul id="echange-visu">
    {{#each echanges}}
    <li>
        <p>{{this.nom_echange}}</p>

        <p>{{this.nom}} {{this.prenom}}</p>

        <a data-id="{{this.id_echange}}" href="/echange" onclick="getDetail(event, this.dataset.id)"> Voir l'échange</a>
    </li>
    {{/each}}
</ul>

{{#if user}}
<div class="btn">
    <a href="/creation">Créer un échange</a>
</div>
{{/if}}