body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-color: #fff;
}

main {
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    background-color: #ff0808;
}

header a {
    text-align: right;
}


.Logo-Text a {
    text-decoration: none;
    color: #ff0808;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 2px;
    background-color: #fffb04;
    filter: drop-shadow(0 0 1px black);
}

footer {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #ff0808;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.Titre-Text {
    font-size: large;
    font-weight: bold;
    color: black;
}

.first-container {
    margin: 100px;
}

.btn a {
    text-decoration: none;
    color: #fff;
    background-color: #ff0808;
    font-weight: bold;
    font-size: medium;
    border-radius: 20px;
    padding: 10px;
}

.btn {
    margin: 10px;
}

#echange-visu {
    height: max-content;
}

#echange-visu li {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

#echange-visu p {
    font-size: medium;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
    padding: 10px 50px;
}

#echange-visu a {
    text-decoration: none;
    color: #fff;
    background-color: #ff0808;
    font-weight: bold;
    justify-content: center;
    font-size: medium;
    padding: 10px;
}

#profil-visu {
    height: max-content;
}

#profil-visu li {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

#profil-visu p {
    font-size: medium;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
    padding: 10px 50px;
}

#profil-visu a {
    text-decoration: none;
    color: #fff;
    background-color: #ff0808;
    font-weight: bold;
    justify-content: center;
    font-size: medium;
    padding: 10px;
}

#creation-visu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

#creation-visu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#creation-visu li img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;

}

#creation-visu li h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

form {
    padding: 20px;
}

form input {
    height: 30px;
    width: 400px;
}

form button {
    color: #fff;
    background-color: #ff0808;
    font-weight: bold;
    font-size: medium;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
}

#detail-visu {
    width: 800px;
}


#ExchangeDetails {
    text-align: center;
    margin-bottom: 20px;
}

.titre-utilisateur {
    text-align: left;
    margin-left: 10%;
    font-size: 18px;
    font-weight: normal;
    color: #333;
}


.brick-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.div-gauche img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.div-droite {
    display: flex;
    flex-direction: column;
}


.div-droite h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.div-droite p {
    margin: 5px 0;
}

input[type=checkbox]:checked+p {
    text-decoration: #a00 line-through;
}

#erreur-echange-text {
    color: #a00;
}

.erreur {
    border: 1px solid #a00;
}

#total-exchange-value {
    font-size: medium;
    font-weight: bold;
}

#total-exchange-value a {
    font-size: 5rem;
}

.rule {
    color: red;
}

.rule.valid {
    color: green;
}

.Sign-section {
    padding: 50px 0;
    text-align: center;
}

.Sign-container {
    background-color: #fffb04;
    max-width: 8000px;
    margin: 0 auto;
    border-radius: 15px;
}

.Sign-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.Sign-up-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.Sign-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.Sign-form input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
}

.Sign-up-form input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
}

.Sign-btn {
    background: #ff0808;
    color: #fffb04;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    width: auto;
    font-weight: 600;
    cursor: pointer;
}


.Sign-up-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.input-password-form-style {
    position: relative;
    display: flex;
    align-items: center;
}


.Sign-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

#opt-affichage {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px;
}

#opt-affichage-confirm {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px;
}